[submodule "nvim"]
	path = nvim-config
	url = git@github.com:thebaconfate/nvim-odin.git
[submodule "zsh-config"]
	path = zsh-config
	url = git@github.com:thebaconfate/zsh-config.git
[submodule "tmux-config"]
	path = tmux-config
	url = git@github.com:thebaconfate/tmux-config.git
[submodule "ideavim-config"]
	path = ideavim-config
	url = git@github.com:thebaconfate/ideavim-config.git
[submodule "pwsh-config"]
	path = pwsh-config
	url = git@github.com:thebaconfate/pwsh-config.git
